
<div class="panel-body">
	<input type="file" id="importLancamento" /><br /> 
	<div class="table-responsive">
		<table
			class="table table-striped table-bordered table-hover dataTables-example">
			<thead>
				<tr>
					<th></th>
					<th>DATA</th>
					<th>DESCRICAO</th>
					<th>VALOR</th>
					<th>CENTRO DE CUSTO</th>
					<th>FLUXO</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeX" ng-repeat="dado in lancamentosImportados ">
						
					<td>
					<i class="glyphicon glyphicon-remove text-danger"
						ng-click="lancamentosImportados.splice($index, 1);"
						data-toggle="tooltip" data-placement="top"
						title="Dado inv&aacute;lido!"></i></td>
					<td>					
						<div >
							<input  type="text" ng-model="dado.lancamento.data"
								class="form-control"> <i id="edit_1" class="icon-check text-success"
								onclick="openClose(this)"></i>
						</div>
						<div id="view_1" onclick="openClose(this)" >
							{{dado.lancamento.data}}</div>
					</td>
					<td >
						<div id="edit_2">
							<input type="text" ng-model="dado.lancamento.descricao"
								class="form-control"> <i class="icon-check text-success"
								onclick="openClose(this.id)"></i>
						</div>
						<div id="view_2"   onclick="openClose(this.id)" >
							{{dado.lancamento.descricao}}</div>
					</td>
					<td id="{{3+'_'+$index}}">
						<div id="edit_3" >
							<input type="text" ng-model="dado.lancamento.valor"
								class="form-control"> <i class="icon-check text-success"
								onclick="openClose(this.id)"></i>
						</div>
						<div id="view_3"  onclick="openClose(this.id)" >
							{{dado.lancamento.valor}}</div>
					</td>
					<td id="{{4+'_'+$index}}">
						<select class="form-control"
							ng-options="item as item.nome for item in centrosCustos"
							ng-model="dado.lancamento.centroCusto">
						</select>
					</td>
					<td id="{{5+'_'+$index}}">
						<select class="form-control"
							ng-options="item as item.nome for item in fluxos"
							ng-model="dado.lancamento.fluxo">
						</select>
					</td>
														
				</tr>
			</tbody>
		</table>
	</div>
	
	<script>
		
		function openClose (id){
			console.log(id)
			if(id.css('visibility') === 'hidden'){
				id.css('visibility', 'visible');
				id.css('visibility', 'hidden')
			}else{
				id.css('visibility', 'hidden');
				id.css('visibility', 'visible')
				
			}
		}
	</script>
	<button ng-click="importarLancamentos()" class="btn btn-primary">Salvar</button>
</div>
