
<div class="panel-body">
	<input type="file" id="importLancamento" /><br/>
	<div class="table-responsive">
		<table
			class="table table-striped table-bordered table-hover dataTables-example">
			<thead>
				<tr>
					<th ng-repeat="coluna in colunasImportacao">
						{{coluna}}			
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class="gradeX" ng-repeat="dado in dadosImportacao">
					<td ng-repeat="coluna in colunasImportacao">					
					<input type="text" placeholder="Placeholder" value="{{dado[coluna]}}" class="form-control"/>
					</td>
				</tr>
			</tbody>			
		</table>
		<button ng-click="importarRegistros()" class="btn btn-primary">Salvar</button>
	</div>
</div>
