
<!-- Main content -->
<div>
	<h1 class="page-title">Lançamento: {{obj.nome}}</h1>
	<!-- Breadcrumb -->
	<ol class="breadcrumb breadcrumb-2">
		<li><a ui-sref="main"><i class="fa fa-home"></i>Home</a></li>
		<li><a ng-click="setEdicao(false);">Lançamentos</a></li>
		<li class="active"><strong>Cadastro</strong></li>
	</ol>
	<div class="row">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading clearfix">
						<h3 class="panel-title">Lançamento</h3>
					</div>
					<div class="panel-body">
						<form name="myForm" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Descrição</label>
								<div class="col-sm-10">
									<input type="text" placeholder="Descrição"
										ng-model="obj.descricao" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Tipo:</label>
								<div class="col-sm-10">
									<select class="form-control"
										ng-options="item as item.nome for item in tiposLancamento track by item.id"
										ng-model="obj.tipoLancamento">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Data</label>
								<div class="col-sm-10">
									<div id="date-popup" class="input-group date">
										<input type="text" id="data" ng-model="obj.data" 
											class="form-control"> <span class="input-group-addon"><i
											class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Valor</label>
								<div class="col-sm-10">
									<input type="text" id="valor" ng-model="obj.valor"
										class="form-control">
								</div>
							</div>
							<div class="line-dashed"></div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Centro de custo:</label>
								<div class="col-sm-10">
									<select class="form-control"
										ng-options="item as item.nome for item in centrosCustos track by item.id"
										ng-model="obj.centroCusto">
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label">Fluxo:</label>
								<div class="col-sm-10">
									<select class="form-control"
										ng-options="item as item.nome for item in fluxos track by item.id"
										ng-model="obj.fluxo">
									</select>
								</div>
							</div>													
														


							<button type="submit" ng-click="cancel()" class="btn btn-white">Cancelar</button>
							<button type="submit" class="btn btn-primary"
								ng-click="submit(obj);">Salvar</button>
							<button type="submit" class="btn btn-danger"
								ng-click="remove(obj.id);">Excluir</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		console.log("scripts")
		$('#datepicker').datepicker({
			keyboardNavigation : false,
			forceParse : false,
			todayHighlight : true
		});

		$('#date-popup').datepicker({
			keyboardNavigation : false,
			forceParse : false,
			todayHighlight : true
		});

		$('#year-view').datepicker({
			startView : 2,
			keyboardNavigation : false,
			forceParse : false
		});
		$("#valor").maskMoney({
			thousands : '',
			decimal : '.',
			allowZero : false,
			prefix : 'R$ '
		});
	</script>
</div>


<!-- /main content -->